<a href="https://colab.research.google.com/github/ShaunakSen/Data-Science-and-Machine-Learning/blob/master/Data_Modelling_and_Analysis_of_COVID_19_Spread.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Springboard - Data Modelling and Analysis of COVID-19 Spread

> [tutorial link](https://www.youtube.com/watch?v=LQCGeboXZkc)

### Import the libraries

In [0]:
import numpy as np
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px

### Get the data

The data we are going to use is from John Hopkin Uni - [link](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series)

These are live links and the data will be updated regularly

In [0]:
confirmed_cases_file_link = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
death_cases_file_link = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
recovered_cases_file_link = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
country_cases_file_link = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv'

In [4]:
confirmed_df = pd.read_csv(confirmed_cases_file_link)
print (confirmed_df.shape)
confirmed_df.head()

(264, 85)

  Province/State Country/Region      Lat  ...  4/9/20  4/10/20  4/11/20
0            NaN    Afghanistan  33.0000  ...     484      521      555
1            NaN        Albania  41.1533  ...     409      416      433
2            NaN        Algeria  28.0339  ...    1666     1761     1825
3            NaN        Andorra  42.5063  ...     583      601      601
4            NaN         Angola -11.2027  ...      19       19       19

[5 rows x 85 columns]

In [5]:
deaths_df = pd.read_csv(death_cases_file_link)
print (deaths_df.shape)
deaths_df.head()

(264, 85)

  Province/State Country/Region      Lat  ...  4/9/20  4/10/20  4/11/20
0            NaN    Afghanistan  33.0000  ...      15       15       18
1            NaN        Albania  41.1533  ...      23       23       23
2            NaN        Algeria  28.0339  ...     235      256      275
3            NaN        Andorra  42.5063  ...      25       26       26
4            NaN         Angola -11.2027  ...       2        2        2

[5 rows x 85 columns]

In [7]:
recovered_df = pd.read_csv(recovered_cases_file_link)
print (recovered_df.shape)
recovered_df.head()

(250, 85)

  Province/State Country/Region      Lat  ...  4/9/20  4/10/20  4/11/20
0            NaN    Afghanistan  33.0000  ...      32       32       32
1            NaN        Albania  41.1533  ...     165      182      197
2            NaN        Algeria  28.0339  ...     347      405      460
3            NaN        Andorra  42.5063  ...      58       71       71
4            NaN         Angola -11.2027  ...       2        2        4

[5 rows x 85 columns]

In [9]:
cases_country_df = pd.read_csv(country_cases_file_link)
print (cases_country_df.shape)
cases_country_df.head()

(185, 14)

  Country_Region          Last_Update      Lat  ...  Mortality_Rate  UID  ISO3
0      Australia  2020-04-12 11:47:31 -25.0000  ...        0.950119   36   AUS
1        Austria  2020-04-12 11:40:06  47.5162  ...        2.509860   40   AUT
2         Canada  2020-04-12 11:47:14  60.0010  ...        2.804941  124   CAN
3          China  2020-04-12 10:22:53  30.5928  ...        4.021219  156   CHN
4        Denmark  2020-04-12 11:40:06  56.0000  ...        4.199645  208   DNK

[5 rows x 14 columns]